input::-webkit-input-placeholder
  color bleubleu

.label
  display block
  font-size 1.3em

.label .content
  display block
  text-align left

.inline-label
  display inline
  
.content .innerlabel
  font-weight 500

.content .help
  font-size .9em
  color #999
  text-transform lowercase

.inline_left
  margin 6px 0 0 10px
  display inline-block

input[type='text'], input[type='password'], input[type='email']
  background #ffffff
  background-image -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white))
  background-image linear-gradient(top, #eeeeee 0%,#ffffff 50%)
  border 1px solid #aaa
  display inline-block
  overflow hidden
  -webkit-border-radius 4px
  -webkit-appearance none
  border-radius 4px
  color #444
  line-height 1.8em
  padding 6px 6px 4px
  position relative
  text-decoration none
  white-space nowrap
  width 100%
  margin-top 2px

.container_label
  font-size 15px

select
  width 221px

input:focus
  outline none
  border-color bleu
  box-shadow 0 0 8px bleu
  -webkit-box-shadow 0 0 8px bleu

.field, .authform p
  margin-bottom 16px

.field
  margin 0 64px 16px 64px

.button_container
  text-align right
  margin 0 50px 30px 64px

.error_container
  margin 0 51px 16px 63px  
  overflow hidden
  
.form_copy
  text-align left
  
.error
  border 2px solid red
  margin 25px auto 20px
  padding 10px
  border-radius 6px
