<div class="logout_container">
	<form action="/logout" method="POST" id="logout">
	    <div>
	      <input type="submit" id="logout_session" class="large awesome" value="Logout"></input>
	    </div>
	</form>
</div>