<div id="main" class="successful_registration">
	<div class="success_container shadowbox">
		<h1>You are successfully registered.</h1>
		<p>Please check your email inbox for a confirmation note.</p>
		<a href="/dashboard">Login Here →</a>
	</div>
</div>