.fadeIn
  -webkit-transition: opacity .4s ease-in;
  -moz-transition: opacity .4s ease-in;  
  -o-transition: opacity .4s ease-in;  
  -webkit-transition: opacity .4s ease-in;  
  -ms-transition: opacity .4s ease-in;  
  transition: opacity .4s ease-in;  
  opacity: 1;
  visibility visible

.fadeOut
  -webkit-transition: opacity .4s ease-in;
  -moz-transition: opacity .4s ease-in;  
  -o-transition: opacity .4s ease-in;  
  -webkit-transition: opacity .4s ease-in;  
  -ms-transition: opacity .4s ease-in;  
  transition: opacity .4s ease-in;  
  opacity: 0


