/* For debugging */
imagePrefix="/img/"

/* Images */
bodyBg = imagePrefix + 'bg_pattern_400x400.png'
bodyBgMobile = imagePrefix + 'bg_pattern_200x200.png'
buttonOverlay = imagePrefix + 'button_overlay.png'

/* Stylus variables */
linkTransitionTime = 0.4s
bodyTransitionTime = 0.8s
halpha = 0.65

// Theme-colors
bleu = #15aaaa
grey = #666
