/* Start using nib (npm install nib) to handle the various x-browser ish */
/* For debugging */
/* Images */
/* Stylus variables */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio[controls],
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
html {
  font-size: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0.30);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
a {
  color: #00e;
}
a:visited {
  color: #551a8b;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  _font-family: "courier new", monospace;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: none;
}
small {
  font-size: 75%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
}
img {
  border: 0;
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
h1,
h2,
ul,
li,
p,
img,
a {
  margin: 0;
  padding: 0;
  outline: 0;
}
body {
  font: 100% "Helvetica Neue", Arial, sans-serif;
  color: #666;
  text-shadow: 1px 1px 2px rgba(255,255,255,0.60);
  background: #fff url("../img/bg_pattern_400x400.png") repeat scroll 0 0;
}
body.index {
  opacity: 0;
}
body.slick {
  opacity: 1;
  transition: opacity 0.8s linear;
  -webkit-animation: slick 0.8s linear 1;
  -moz-transition: opacity 0.8s linear;
  -o-transition: opacity 0.8s linear;
  -ms-transition: opacity 0.8s linear;
}
li {
  list-style: none;
  padding: 4px 6px;
}
h1 {
  text-align: center;
  line-height: 1em;
  font-size: 2.4em;
  font-weight: 300;
}
h2 {
  line-height: 2em;
  vertical-align: middle;
}
h3 {
  line-height: 2;
  font-size: 1.5em;
  margin: 10px auto 0;
  font-weight: 400;
}
p {
  line-height: 1.3em;
}
#main {
  width: 94%;
  margin: 24px auto 0;
  text-align: center;
  max-width: 840px;
}
a,
a:visited {
  color: #15aaaa;
  text-decoration: none;
  text-shadow: 0 0 0 rgba(0,0,0,0.00);
  font-weight: 300;
}
a:hover,
a:focus,
a:active {
  color: #000;
  -moz-transition: 0.4s color linear;
  -webkit-transition: 0.4s color linear;
}
.shadow {
  border: 1px solid #ccc;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-box-shadow: 0 15px 80px rgba(0,0,0,0.48);
  -webkit-box-shadow: 0 15px 80px rgba(0,0,0,0.48);
}
.shadowbox {
  -webkit-box-shadow: 0 0px 5px rgba(0,0,0,0.30), inset 0 0 10px rgba(0,0,0,0.05);
  border-radius: 4px;
  position: relative;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.50);
  padding: 20px 20px 30px;
  max-width: 600px;
}
.pipe {
  color: #15aaaa;
  padding: 0 10px;
}
.left {
  float: left;
}
.right {
  float: right;
}
.full {
  width: 100%;
}
.half {
  width: 50%;
}
.weight_300 {
  font-weight: 300;
}
.pad10 {
  padding: 10px;
}
.pad20 {
  padding: 20px;
}
.margin10 {
  margin: 10px;
}
.margin20 {
  margin: 20px;
}
.marginTop10 {
  margin-top: 10px;
}
.marginTop20 {
  margin-top: 20px;
}
.marginBottom10 {
  margin-bottom: 10px;
}
.marginBottom20 {
  margin-bottom: 20px;
}
.invisible {
  visibility: hidden;
}
.justify {
  text-align: justify;
}
.both {
  clear: both;
}
.display_ib {
  display: inline-block;
}
.display_b {
  display: block;
}
.even {
  background: #eee;
  border: 1px solid #ddd;
}
.odd {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.fadeIn {
  -webkit-transition: opacity 0.4s ease-in;
  -moz-transition: opacity 0.4s ease-in;
  -o-transition: opacity 0.4s ease-in;
  -webkit-transition: opacity 0.4s ease-in;
  -ms-transition: opacity 0.4s ease-in;
  transition: opacity 0.4s ease-in;
  opacity: 1;
  visibility: visible;
}
.fadeOut {
  -webkit-transition: opacity 0.4s ease-in;
  -moz-transition: opacity 0.4s ease-in;
  -o-transition: opacity 0.4s ease-in;
  -webkit-transition: opacity 0.4s ease-in;
  -ms-transition: opacity 0.4s ease-in;
  transition: opacity 0.4s ease-in;
  opacity: 0;
}
.awesome {
  background: #222 url("../img/button_overlay.png") repeat-x;
  display: inline-block;
  padding: 5px 10px 6px;
  color: #fff;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.50);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.25);
  position: relative;
  cursor: pointer;
}
.awesome,
.awesome:visited {
  font-size: 1.2em;
  font-weight: 800;
  line-height: 1;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  margin: 0 auto;
  color: #15aaaa;
  margin-top: 4px;
}
.awesome:hover {
  background-color: #111;
  color: #fff;
  -webkit-transition: all 0.4s ease-out;
}
.large.awesome,
.large.awesome:visited {
  font-size: 1.4em;
  padding: 8px 14px 9px;
}
input::-webkit-input-placeholder {
  color: bleubleu;
}
.label {
  display: block;
  font-size: 1.3em;
}
.label .content {
  display: block;
  text-align: left;
}
.inline-label {
  display: inline;
}
.content .innerlabel {
  font-weight: 500;
}
.content .help {
  font-size: 0.9em;
  color: #999;
  text-transform: lowercase;
}
.inline_left {
  margin: 6px 0 0 10px;
  display: inline-block;
}
input[type="text"],
input[type="password"],
input[type="email"] {
  background: #fff;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.5, #fff));
  background-image: linear-gradient(top, #eee 0%, #fff 50%);
  border: 1px solid #aaa;
  display: inline-block;
  overflow: hidden;
  -webkit-border-radius: 4px;
  -webkit-appearance: none;
  border-radius: 4px;
  color: #444;
  line-height: 1.8em;
  padding: 6px 6px 4px;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
  width: 100%;
  margin-top: 2px;
}
.container_label {
  font-size: 15px;
}
select {
  width: 221px;
}
input:focus {
  outline: none;
  border-color: #15aaaa;
  box-shadow: 0 0 8px #15aaaa;
  -webkit-box-shadow: 0 0 8px #15aaaa;
}
.field,
.authform p {
  margin-bottom: 16px;
}
.field {
  margin: 0 64px 16px 64px;
}
.button_container {
  text-align: right;
  margin: 0 50px 30px 64px;
}
.error_container {
  margin: 0 51px 16px 63px;
  overflow: hidden;
}
.form_copy {
  text-align: left;
}
.error {
  border: 2px solid #f00;
  margin: 25px auto 20px;
  padding: 10px;
  border-radius: 6px;
}
.spinner {
  position: absolute;
  top: 35%;
  left: 45%;
  width: 32px;
  height: 32px;
  display: inline-block;
}
.spinner div {
  width: 12%;
  height: 26%;
  background: #15aaaa;
  position: absolute;
  left: 44.5%;
  top: 37%;
  opacity: 0;
  -webkit-animation: fade 1s linear infinite;
  -webkit-border-radius: 50px;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.20);
}
.spinner .bar1 {
  -webkit-transform: rotate(0deg) translate(0, -142%);
  -webkit-animation-delay: 0s;
}
.spinner .bar2 {
  -webkit-transform: rotate(30deg) translate(0, -142%);
  -webkit-animation-delay: -0.9167s;
}
.spinner .bar3 {
  -webkit-transform: rotate(60deg) translate(0, -142%);
  -webkit-animation-delay: -0.833s;
}
.spinner .bar4 {
  -webkit-transform: rotate(90deg) translate(0, -142%);
  -webkit-animation-delay: -0.75s;
}
.spinner .bar5 {
  -webkit-transform: rotate(120deg) translate(0, -142%);
  -webkit-animation-delay: -0.667s;
}
.spinner .bar6 {
  -webkit-transform: rotate(150deg) translate(0, -142%);
  -webkit-animation-delay: -0.5833s;
}
.spinner .bar7 {
  -webkit-transform: rotate(180deg) translate(0, -142%);
  -webkit-animation-delay: -0.5s;
}
.spinner .bar8 {
  -webkit-transform: rotate(210deg) translate(0, -142%);
  -webkit-animation-delay: -0.41667s;
}
.spinner .bar9 {
  -webkit-transform: rotate(240deg) translate(0, -142%);
  -webkit-animation-delay: -0.333s;
}
.spinner .bar10 {
  -webkit-transform: rotate(270deg) translate(0, -142%);
  -webkit-animation-delay: -0.25s;
}
.spinner .bar11 {
  -webkit-transform: rotate(300deg) translate(0, -142%);
  -webkit-animation-delay: -0.1667s;
}
.spinner .bar12 {
  -webkit-transform: rotate(330deg) translate(0, -142%);
  -webkit-animation-delay: -0.0833s;
}
.adminHeader {
  font-size: 3em;
  font-weight: 300;
  line-height: 1.8;
  margin-bottom: 15px;
}
.dashboard .shadowbox,
.register .shadowbox {
  width: 50%;
}
.register h2 {
  line-height: 1.2;
}
.success_container {
  width: 66%;
}
.successful_registration h1 {
  line-height: 1.4;
}
.successful_registration p {
  margin: 20px 0;
}
.logout_container {
  position: absolute;
  top: 10px;
  right: 10px;
}
@media screen and (max-width: 320px) {
  body {
    background: #fff url("../img/bg_pattern_200x200.png") repeat scroll 0 0;
  }
  header {
    font-size: 0.6667em;
  }
}
@media screen and (max-width: 480px) {
  header {
    font-size: 0.6667em;
  }
}
@media screen and (max-width: 640px) {
  header {
    font-size: 0.75em;
  }
}
@media screen and (max-width: 768px) {
  header {
    font-size: 0.825em;
  }
}
@-moz-keyframes slick {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes slick {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes slick {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
